.body {
    background-color: gray;
    font-family: Arial;
}

.moqups {
    font-weight: bold;
}


/* category */

.category {
    margin-right: 1.5rem;
    font-size: 14px;
    font-weight: bold;
    margin-top: 19px;
}

.category a {
    color: black;
}


/* search */

.search-box {
    width: 9rem;
    border-radius: 25px;
    border: none;
    border: 1px solid gray;
}

.search-icon {
    position: relative;
    display: inline;
    bottom: 0px;
    right: 140px;
}

.primary-maincontainer {
    height: 300px;
    background-color: #e1eaea;
}

.primary-container {
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
}

.container {
    background-color: white;
}

.form {
    height: 120px;
}

label {
    font-weight: bold;
}

.input {
    margin-left: 385px;
    border-radius: 25px;
    border: none;
    border: 2px solid gray;
}

.button {
    margin-left: 30px;
    background-color: #242e3a;
    color: white;
    border: none;
    border-radius: 3px;
}

.maindiv1 {
    height: 400px;
}

.submaindiv1 {
    height: 380px;
    background-color: #58616a;
}

.div1 {
    font-size: 35px;
    padding: 195px 20px 0px 28px;
    color: white;
}

.subdiv {
    text-align: center;
    font-size: 40px;
    color: white;
}

.maindiv2 {
    height: 380px;
}

.submaindiv2 {
    height: 180px;
    background-color: #58616a;
}

.div2 {
    padding-top: 130px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.maindiv3 {
    height: 180px;
    background-color: #58616a;
}

.div3 {
    font-size: 30px;
    padding-top: 130px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.image {
    height: 170px;
}

.paragraph {
    font-size: 20px;
}

.mainbutton {
    height: 100px;
}

.subbutton {
    height: 40px;
    background-color: white;
}

.logout {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    width: 150px;
}